{% extends "base.html" %}
{% block content %}
<div class="container-fluid mt-5">
    <div class="row carousel-wrapper" style="margin-top: 65px;">
      <h3></h3>
      <!---Breadcrumb section-->
      <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Ages: 3-6 years</li>
        </ol>
      </nav>
      <!--Cards for displaying activities-->
        {% for todo in todos %}
        <div class="col-lg-4 mb-4">
            <div class="card">
                {% if todo.image %}
                    <img src="{{ todo.image.url }}" class="card-img-top" alt="{{ todo.title }}">
                {% elif todo.image_url %}
                    <img src="{{ todo.image_url }}" class="card-img-top" alt="{{ todo.title }}">
                {% else %}
                    <img src="/static/media/default.jpg" class="card-img-top" alt="{{ todo.title }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ todo.title }}</h5>
                    <p class="card-text">{{ todo.description|truncatewords:25 }}</p>
                    <a href="{% url 'todo_detail' slug=todo.slug %}" class="btn btn-success">View Details</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No activities found in this category.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
