{% extends "base.html" %}
{% block content %}
<div class="container-fluid" style="margin-top: 80px;">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat suscipit enim in rutrum. Fusce et convallis nisi. Integer consequat fermentum tellus vel suscipit. Integer cursus nunc non eros vestibulum vulputate. Ut sed augue a mauris euismod lacinia nec in urna. Ut luctus arcu vel enim bibendum, ut elementum felis molestie. Nullam dignissim mauris nec massa vehicula, ac convallis mi convallis. Curabitur massa nisi, malesuada vitae sem vitae, auctor posuere sem. Nunc urna sem, mollis sit amet venenatis et, gravida eu leo. Etiam eleifend vel erat id mollis. Maecenas nec molestie ipsum.

            </h1>
        </div>
    </div>

</div>
{%endblock%}