{% extends "base.html" %}
{% block content %}
<div class="container-fluid" style="margin-top: 80px;">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4" style="width: 100%;">
                <img class="card-img-top" src="/static/media/48 x 48-21.png" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Ages: 3-6 years</h4>
                    <p class="card-text">Find activities here.</p>
                    <a href="#" class="btn btn-primary">Let's go!</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4" style="width: 100%;">
                <img class="card-img-top" src="/static/media/48 x 48-21.png" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Ages: 7-15 years</h4>
                    <p class="card-text">Find activities here.</p>
                    <a href="#" class="btn btn-primary">Let's go!</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4" style="width: 100%;">
                <img class="card-img-top" src="/static/media/48 x 48-21.png" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Ages: 16-25 years</h4>
                    <p class="card-text">Find activities here.</p>
                    <a href="#" class="btn btn-primary">Let's go!</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4" style="width: 100%;">
                <img class="card-img-top" src="/static/media/48 x 48-21.png" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Ages: 26-35 years</h4>
                    <p class="card-text">Find activities here.</p>
                    <a href="#" class="btn btn-primary">Let's go!</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
